%h2= @genre.name
%ul
  - if @genre.parent_id.nil?
    %li= link_to 'Up a level...', genres_path
  - else
    %li= link_to 'Up a level...', genre_path(@genre.parent_id)
%table{:border => 1, :width => '100%'}
  %thead
    %tr
      %th Genre Name
      %th Collective Programming Level
  %tbody
    %tr
      %td= link_to @genre.name, genre_path(@genre)
      %td= @genre.programming_skill
    - for genre in @genre.children
      %tr
        - if genre.children.empty?
          %td= genre.name
        - else
          %td= link_to genre.name, genre_path(genre)
        %td= genre.descendant_programming_skill